body {
    /* padding-top: 70px; */
    padding-bottom: 20px;
    /* -webkit-text-size-adjust: none!important; */
}
.no-padding{ padding: 0px;}

.no-padding--left {
    padding-left: 0px;
}
.no-padding--right {
    padding-right: 0px;
}
.no-padding--top {
    padding-top: 0px;
}
.no-padding--bottom {
    padding-bottom: 0px;
}
/* Site Colors */
.site-green {
    background: -webkit-linear-gradient(chartreuse, lightgreen 6%, chartreuse);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.slimy-logo {
    font-family: 'Creepster', cursive;
    background-color: white;
    /* height: 75px; */
    font-size: 56px;
    /* height: 2px; */
    line-height: 40px;
    width: 300px;
}

.slimy-button {background-image: linear-gradient(chartreuse, lightgreen 6%, chartreuse);color: black;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;border-radius: 2px;cursor: pointer;width: 91px;float: left;height: 39px;border-color: #474949;border: 1px;}

.glowing-border {
    border: 2px solid chartreuse;
    border-radius: 7px;
    float: left;
}

    .glowing-border:focus {
        outline: none;
        border-color: chartreuse;
        box-shadow: 0 0 10px chartreuse;
    }

.site-fat {
    font-weight: bolder;
    font-weight: bold;
    font-size: 3rem;
}
.imdb {
    background-color: #E8B708;
    padding: 0px 5px;
    border-radius: 5px;
    color: black;
    font-family: arial;
    /* font-weight: 900; */
    /* float: left; */
    /* display: block; */
    /* height: 40px; */
}

.imdb.site-fat {}
.navbar-header {
    margin-top: 10px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 309px;
    width: 250px;
    height: 35px;
    border-radius: 2px;
}
.container {
    margin-bottom: 15px;
    margin-top: 15px;
}

/* Backbar Styles */
.backbar{
    width: 100%;
    /* background-color: #555; */
    margin-top: -5px;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    /* background-image: url(/images/graycharkboard.jpg); */
}
  .backbar .btn{
    margin-top: 4px;
  }



/* Series List Styles */
.series-list{
  padding: 0;
}

.series-list li{
  list-style: none;
  border-bottom: 1px #ddd solid;
  margin-bottom: 20px;
  padding-bottom: 10px;
  }

.series-list li:last-child{
  border: none;
}
.well {
    /* padding-bottom: 40px; */
}
.btn-menu {
    margin-right: 5px;
    margin-top: 5px;
}
.search-input {
    margin-top: 5px;
}
.logo-wrapper {
    /* margin-bottom: 10px; */
    /* margin-right: 5px; */
    /* min-width: 160px; */
    margin-right: 5px;
    height: 44px;
    width: 164px;
}
.flex-container {
    margin-top: 5px;
    color: black;
    display: flex;
    flex-direction:row;
    /* justify-content: left; */
    /* float: left; */
    /* clear: both; */
}

.flex-item {
    /* border:2px red solid; */
    /* flex-grow:0; */
    /* width: 45%; */
    justify-content: left;
}

 
.search__label{color: white;margin-top: 0px;padding-top: 5px;}

.search-wrapper, search-center, input {
    color: black;
}

.well h4 {
    color: black;
}

#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}
 
#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
 
#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}
 
.search-query:focus + button {
    z-index: 3;   
}
input[type=text] {
    border-radius: 1px;
    height: 38px;
    font-size: 14px;
    box-shadow: none;
    line-height: 100%;
    padding: 5px;
    /* padding-right: 5px; */
    margin-right: 5px;
    border: 0;
}

input#movieToFind {}
.row-space{margin-top: 30px;}

i.fa-star {
    color: orange;
    display: inline;
    size: 3px;
    font-size: 15px;
}

.list {
    display: flex;
    flex-wrap: wrap;
}
.list-item {
    display: flex; 
    padding: 0.5em;
    width: 100%;
}
@media all and (min-width: 40em) {
    .list-item {
        width: 50%;
    }
}
@media all and (min-width: 60em) {
    .list-item {
        width: 33.33%;
    }
}
.list-content {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
}
.list-content p {
    flex: 1 0 auto;
}

.video-content {
    height: 600px;
}
.fitvids {
    height: 100%;
    width: 100%;
}
.image-poster-container {
    margin-bottom: 10px;
}
@media all and (max-width: 736px) {
    .flex-container {
        flex-direction: column;
    }
}

@media all and (max-width: 480px) {
}

