@{
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello from detail</title>
</head>
<body>
    <div>
        Hello from detail.
        @ViewBag.SeriesTitle
        <br>
         @ViewBag.IssueNumber
        <br>

        @Html.Raw(@ViewBag.Description)
        <br>
        <div>
             
        </div>

    </div>
</body>
</html>
